<center>
	<br>
	<table>
		
		<tr height="100px">
			<td width="200px">Headline</td>
			<td>
				<h2>Recommended for you</h2>
			</td>
			<td style="width:200px;text-align:right">
				< h2>
			</td>
		</tr>

		<tr height="100px">
			<td width="200px">Headline with mark</td>
			<td>
				<h2>This is a headline <mark>with mark</mark> tag</h2>
			</td>
			<td style="width:200px;text-align:right">
				< mark>
			</td>
		</tr>

		<tr height="100px">
			<td>Primary button enable</td>
			<td>
				<div class="primary-btn">Submit</div>
			</td>
			<td style="width:200px;text-align:right">
				.primary-btn
			</td>
		</tr>

		<tr height="100px">
			<td>Primary button disabled</td>
			<td>
				<div class="primary-btn disabled">Next</div>
			</td>
			<td style="width:200px;text-align:right">
				.disabled
			</td>
		</tr>

		<tr height="100px">
			<td>Secondary button<br>Simple link</td>
			<td>
				<%= link_to "Update score", fixtures_path(), class: "gotolink" %>
			</td>
			<td style="width:200px;text-align:right">
				.gotolink
			</td>
		</tr>

		<tr height="100px">
			<td>Tertiary button</td>
			<td>
				<div class="tertiary-btn">Filter</div>
			</td>
			<td style="width:200px;text-align:right">
				.tertiary-btn
			</td>
		</tr>

		<tr height="100px">
			<td>Text highlight</td>
			<td>
				<div class="highlight">Ligue de football professionnelle</div>
			</td>
			<td style="width:200px;text-align:right">
				.highlight
			</td>
		</tr>

		<tr height="100px">
			<td>Secondary text</td>
			<td>
				<div class="secondary-text">2 days ago</div>
			</td>
			<td style="width:200px;text-align:right">
				.secondary-text
			</td>
		</tr>

		

	</table>
</center>