<div class="goalcontainer">

	<div class="goalcard">

		<div class="goalcard-header">
			<%=image_tag("beckham.jpg", class: "goalcard-header-scoreravatar")%>
			<div class="goalcard-header-scorerinfo">
				<p class="scorer">Moise Kean</p>
				<p class="game-info">2-0 (32') • PSG v Nice</p>
			</div>
			<div class="share-btn">
				<%= svg 'share-btn' %>
			</div>
		</div>

		<div class="goalcard-content">
			<%= svg 'pitch' %>
		</div>
		
		<div class="goalcard-footer">
			<p class="stage">Ligue 1 • Day 8</p>
			<p>Oct. 23 2020</p>
		</div>

	</div>

</div>