<div class="record_header">

	<div class="record_header_header">
		<p class="journey">Ligue 1 • Day 9</p>
		<div class="timer">
			<p class="reddot"></p>
			<p class="live">Live</p>
			<p class="time">• 32:47</p>

		</div>
		
		<p class="date">Nov. 7th 2020 - 5pm</p>
	</div>

	<div class="record_header_teams">
		OGC Nice
		3 - 2
		Paris Saint-Germain
	</div>
</div>

<div class="record_content">
	
	content
</div>