@import "components/colors";

input[type=button], input[type=submit], input[type=reset]{
  border:none;
  outline:none;
  font-family: 'Poppins', sans-serif;
  font-size:13px;
}

.primary-btn{
	display:inline-block;
	color:$white;
	background-color:$purple;
	font-size:13px;
	font-weight: 700;
	padding:8px 30px;
	border-radius: 4px;
	cursor:pointer;
	text-decoration:none;
	width:100%;
}
.primary-btn:hover{
	background-color:$purple-dark;
}
.margin-top{
	margin-top:20px;
}

.disabled{
	background-color:$light-grey !important;
	border:0px !important;
	color:$white !important;
}
.disabled:hover{
	cursor:not-allowed;
}

.tertiary-btn{
	display:inline-block;
	color:$black-blue;
	background-color:$white;
	border:1px $black-blue solid;
	font-size:13px;
	font-weight: 700;
	padding:8px 30px;
	border-radius: 4px;
	cursor:pointer;
}
.tertiary-btn:hover{
	opacity:0.8;
}

.gotolink{
	font-size:13px;
	font-weight: 700;
	color:$purple;
	text-decoration:none;
}
.gotolink:hover{
	text-decoration:underline;
}
.gotolink:visited{
	color:$purple;
}

.nodecoration{
	text-decoration:none;
}