$black-blue:#0D0745;
$dark:#000000;
$grey:#989898;
$light-grey:#EBEBEB;
$background-grey:#FCFCFC;
$flash-green:#00FE83;
$green-arrow:#AFE958;
$green:#06EC7D;
$purple:#3421EA;
$light-purple:#F0EFFE;
$purple-dark:#2716CA;
$white:#FFFFFF;


