@import "components/colors";

h2{
	font-family: 'avenir_next', sans-serif;
	font-size:24px;
	letter-spacing:-0.6px;
	margin:0;
}

mark{
	background-color:$flash-green;
}

.highlight{
	font-size:13px;
	font-weight:700;
	color:$flash-green;
}

.secondary-text{
	font-size:13px;
	font-weight:400;
	color:$grey;
}

.purple-text{
	font-size:13px;
	color:$purple;
}

.input-label{
	color:$grey;
	font-weight:600;
	font-size:16px;
	margin:0;
	text-align:center;
}