// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "components/colors";

.pitchsvgcontainer{
	position:absolute;
}

.pitch{
	width:350px;
	height:513px;
	position:relative;
}

.pointer{
	width:9px;
	height:9px;
	border-radius:50%;
	background-color:$flash-green;
	border:1px solid $black-blue;
	position:absolute;
	z-index:1;
}