// Place all the styles related to the goalevents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "components/colors";

.dot{
	width:7px;
	height:7px;
	border-radius:50%;
	display:inline-block;
}

.green{
	background-color:$green;
}

.red{
	background-color:$red;
}

.eventcontainer{
	display:flex;
	justify-content:space-between;
	align-items:flex-start;

}

.formcontainer{
	flex-grow:1;

}

.pitchcontainer{
	margin-left:40px;
}