// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "components/colors";

#cagemaincontainer{
	margin-bottom:50px;
}

.cagesvgcontainer{
	position:absolute;
}

.cage{
	width:192px;
	height:59px;
	left:29px;
	top:4px;
	position:relative;
}

.pitchsvgcontainer{
	position:absolute;
}

.pitch{
	width:350px;
	height:513px;
	position:relative;
}

.pointer_start{
	width:10px;
	height:10px;
	border-radius:50%;
	background-color:$white;
	border:2px solid $green-arrow;
	position:absolute;
	z-index:1;
}

.pointer_end{
	width:6px;
	height:6px;
	border-radius:50%;
	background-color:$green-arrow;
	position:absolute;
	z-index:1;
}

.pointer_goal{
	width:10px;
	height:10px;
	border-radius:50%;
	background-color:$purple;
	position:absolute;
	z-index:1;
}