// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "components/colors";

#cagemaincontainer{
	margin-bottom:50px;
}

.cagesvgcontainer{
	position:absolute;
}

.cage{
	width:192px;
	height:59px;
	left:29px;
	top:4px;
	position:relative;
}

.pitchsvgcontainer{
	position:absolute;
}

.pitch{
	width:350px;
	height:513px;
	position:relative;
}

.point_container{
	position:relative;
	display:flex;
	justify-content:flex-start;
	align-items:center;

	width:150px;
}

.pointer_start{
	width:10px;
	height:10px;
	border-radius:50%;
	background-color:$white;
	border:2px solid $flash-green;
	z-index:1;
}

.pointer_name{
	color:$white;
	font-size:10px;
	font-weight:600;
	background-color:$flash-green;
	border-radius:4px;
	padding:2px 6px;
	margin-left:7px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.pointer_end{
	width:6px;
	height:6px;
	border-radius:50%;
	background-color:$flash-green;
	position:absolute;
	z-index:1;
}

.pointer_goal{
	width:10px;
	height:10px;
	border-radius:50%;
	background-color:$purple;
	position:absolute;
	z-index:1;
}